<div class="catalog-header">
  <h1 class="title">Catalog of films</h1>

  <div class="catalog-header__search">
    <input type="text" [formControl]="searchControl" placeholder="Search">
  </div>
</div>

<div class="catalog">
  <!-- @for (item of catalog$ | async; track $index; let first = $first) { -->
  @for (item of catalog$ | async | searchPipe: searchControl.value; track $index; let first = $first) {
    <app-film [film]="item" (onLike)="handleLike($event)" (click)="openDialog('250ms', '250ms', item)"></app-film>
  }
</div>
