<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ film.title }}</mat-card-title>
    <mat-card-subtitle class="card__subtitle">Premiere date: {{ film.premiereDate | date:'dd/MM/yyyy' }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="film.picture" class="card__img" alt="Photo of a film">
  <mat-card-content>
    <p class="card__description-title">Description:</p>
    <p class="card__description">
      {{ film.description }}
    </p>
    <div class="card__chips">
      @for (item of film.categories; track $index; let first = $first) {
        <mat-chip disabled="true">{{ item }}</mat-chip>
      }
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button matButton (click)="like(true)">LIKE</button>
    <button matButton (click)="like(false)">DISLIKE</button>
  </mat-card-actions>
</mat-card>
