.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__hint {
    color: green;
  }
}