
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --border-color: #e2e8f0;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

.main-wrap {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;


  @media (width >= 600px) {
    
  }

  @media (min-width >= 600px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (width >= 768px) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (width >= 992px) {
    
  }

  @media (width >= 1200px) {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

