
@use '@angular/material' as mat;
@use 'ngx-toastr/toastr';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --border-color: #e2e8f0;
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

.main-wrap {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;


  @media (width >= 600px) {
    
  }

  @media (min-width >= 600px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (width >= 768px) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (width >= 992px) {
    
  }

  @media (width >= 1200px) {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.title {
  font-size: 24px;
  font-weight: bold;
}
